Analyzing Probabilities

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("Root_Insurance_data.csv")
probRF = pd.read_csv("classes with probability.csv")
df.head()
probRF.head()

   insured  unknown  cars2  cars3  drivers2  married  prob_to_buy
0        1        0      0      0         0        1     0.308244
1        1        0      0      0         0        0     0.308208
2        1        0      0      0         1        1     0.295013
3        1        0      0      0         1        0     0.477598
4        1        0      1      0         0        1     0.396167

In [2]:
_index = [['Y', 1, 1, 'M'],
 ['Y', 2, 2, 'M'],
 ['Y', 3, 1, 'S'],
 ['Y', 1, 2, 'S'],
 ['Y', 2, 1, 'M'],
 ['Y', 3, 2, 'M'],
 ['Y', 1, 1, 'S'],
 ['Y', 2, 2, 'S'],
 ['Y', 3, 1, 'M'],
 ['Y', 1, 2, 'M'],
 ['Y', 2, 1, 'S'],
 ['Y', 3, 2, 'S'],
 ['N', 1, 1, 'M'],
 ['N', 2, 2, 'M'],
 ['N', 3, 1, 'S'],
 ['N', 1, 2, 'S'],
 ['N', 2, 1, 'M'],
 ['N', 3, 2, 'M'],
 ['N', 1, 1, 'S'],
 ['N', 2, 2, 'S'],
 ['N', 3, 1, 'M'],
 ['N', 1, 2, 'M'],
 ['N', 2, 1, 'S'],
 ['N', 3, 2, 'S'],
 ['unknown', 1, 1, 'M'],
 ['unknown', 2, 2, 'M'],
 ['unknown', 3, 1, 'S'],
 ['unknown', 1, 2, 'S'],
 ['unknown', 2, 1, 'M'],
 ['unknown', 3, 2, 'M'],
 ['unknown', 1, 1, 'S'],
 ['unknown', 2, 2, 'S'],
 ['unknown', 3, 1, 'M'],
 ['unknown', 1, 2, 'M'],
 ['unknown', 2, 1, 'S'],
 ['unknown', 3, 2, 'S']]


#click = number of clicks for each status
#sold = number of policies sold
#total = number in each category
click = [37, 21, 24, 77, 19, 18, 78, 16, 21, 76, 15, 11, 25, 33, 22, 79, 15, 21, 43, 32, 15, 74, 16, 13, 112, 94, 67, 128, 84, 73, 127, 110, 69, 105, 108, 0]
sold = [11, 8, 5, 24, 6, 2, 38, 3, 4, 24, 4, 4, 14, 15, 8, 32, 6, 11, 25, 15, 9, 31, 5, 3, 59, 26, 26, 55, 41, 32, 69, 42, 25, 57, 44, 0]
total = [274, 317, 267, 282, 284, 276, 290, 304, 294, 295, 266, 270, 300, 296, 286, 283, 263, 326, 271, 316, 265, 275, 272, 291, 294, 306, 256, 303, 268, 277, 280, 288, 287, 294, 284, 0]



#probsold = number sold/10000
#probSoldGivenClick = numbersold/number click
probsold=[]#probably sold
probSoldGivenClick = [] #prob sold given click
for i in range(0,len(click)):
    if click[i] !=0:
        probsold.append(sold[i]/10000)
        probSoldGivenClick.append(sold[i]/click[i])
    else:
        probsold.append(0)
        probSoldGivenClick.append(0)

In [3]:
currentlyinsured, numcars, numdrivers, married = [], [],[],[]

for i in range(0, len(_index)):
    currentlyinsured.append(_index[i][0])
    numcars.append(_index[i][1])
    numdrivers.append(_index[i][2])
    married.append(_index[i][3])

index2 = pd.DataFrame({'Currently Insured':currentlyinsured,
                      'Number of Vehicles':numcars,
                      'Number of Drivers':numdrivers,
                      'Marital Status':married})

In [4]:
index2

   Currently Insured  Number of Vehicles  Number of Drivers Marital Status
0                  Y                   1                  1              M
1                  Y                   2                  2              M
2                  Y                   3                  1              S
3                  Y                   1                  2              S
4                  Y                   2                  1              M
5                  Y                   3                  2              M
6                  Y                   1                  1              S
7                  Y                   2                  2              S
8                  Y                   3                  1              M
9                  Y                   1                  2              M
10                 Y                   2                  1              S
11                 Y                   3                  2              S
12                 N                   1                  1              M
13                 N                   2                  2              M
14                 N                   3                  1              S
15                 N                   1                  2              S
16                 N                   2                  1              M
17                 N                   3                  2              M
18                 N                   1                  1              S
19                 N                   2                  2              S
20                 N                   3                  1              M
21                 N                   1                  2              M
22                 N                   2                  1              S
23                 N                   3                  2              S
24           unknown                   1                  1              M
25           unknown                   2                  2              M
26           unknown                   3                  1              S
27           unknown                   1                  2              S
28           unknown                   2                  1              M
29           unknown                   3                  2              M
30           unknown                   1                  1              S
31           unknown                   2                  2              S
32           unknown                   3                  1              M
33           unknown                   1                  2              M
34           unknown                   2                  1              S
35           unknown                   3                  2              S

In [5]:
xdf = pd.DataFrame()
xdf[["insured","unknown"]] = pd.get_dummies(index2["Currently Insured"])[["Y","unknown"]]
xdf[["cars2","cars3"]] = pd.get_dummies(index2["Number of Vehicles"])[[2,3]]
xdf[["drivers2"]] = pd.get_dummies(index2["Number of Drivers"])[[1]]
xdf[["married"]] = pd.get_dummies(index2["Marital Status"])[["M"]]

In [6]:
probforests = []
for i in range(0, 36):
    probforests.append(0)

for i in range(0, len(_index)):
    for j in range(0, len(_index)):
        if xdf.loc[i]['insured'] == probRF.loc[j]['insured'] and xdf.loc[i]['unknown'] == probRF.loc[j]['unknown'] and xdf.loc[i]['cars2'] == probRF.loc[j]['cars2'] and xdf.loc[i]['cars3'] == probRF.loc[j]['cars3'] and xdf.loc[i]['drivers2'] == probRF.loc[j]['drivers2'] and xdf.loc[i]['married'] == probRF.loc[j]['married']:
            probforests[i] = probRF['prob_to_buy'][j]

In [7]:
xdf['naive prob'] = probSoldGivenClick
xdf['prob from random forests'] = probforests

In [8]:
xdf['% difference/naive'] = -(xdf['naive prob'] - xdf['prob from random forests'])/xdf['naive prob']
xdf['% difference/forests'] = (xdf['naive prob'] - xdf['prob from random forests'])/xdf['prob from random forests']

In [9]:
xdf.to_csv("probabilities.csv")